python-dotenv
pytest
pylint

# --- MLOps ---
mlflow==2.17.1
mlflow[extras]
mlserver
mlserver-mlflow

# --- AWS / Metaflow ---
metaflow[s3]          # <-- NOWOŚĆ
metaflow-card-html
awscurl

# --- Data & ML ---
pandas
numpy==2.1.1
scikit-learn==1.5.2
xgboost
evidently
packaging
setuptools

# --- Azure (jeśli używasz) ---
azure-ai-ml
azureml-mlflow

# --- Dev ---
jupyter
